{
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "printWidth": 140,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
